<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="shadow-effect bg-secondary-theme">
        <div class="card-body text-center">
          <h3 class="text-theme-center">All Subscribers</h3>
          <p>From here you can manage your Subscribers</p>
          <button class="btn btn-warning ml-2" routerLink="/">
            Back to Dashboard
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card shadow-effect">
        <div class="card-body">
          <table class="table row-border hover">
            <thead>
              <tr class="text-center">
                <th>No</th>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="text-center"
                *ngFor="let s of subscribers; let i = index"
              >
                <td>{{ i + 1 }}</td>
                <td>{{ s.data.name }}</td>
                <td>{{ s.data.email }}</td>
                <td>
                  <button class="btn btn-warning ml-2" style="margin-bottom: 10px; background-color: #FFA400; color: white;" (click)="onDelete(s.id)">
                    Delete
                  </button>
                  <span class="pt-2">

                  <button mat-flat-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="ml-2 more-icon">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="onJual()">

                      <span>Jual</span>
                    </button>
                    <button mat-menu-item (click)="onAlihkan()">
                      <span>Alihkan</span>
                    </button>
                  </mat-menu>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
